:root{
    --primary-color:#3B49DF;
    --primary-color-alpha-10:#4b59f31f;
    --bg-body-color:#EEF0F1;
    --bg-card-color:#FFFFFF;
    --bg-card-color-10:#F9FAFA;
    --border-color:#D2D6DB;
    --border-color-10:#ebebeb;
    --bg-button-color:var(--primary-color);
    --bg-button-color-neutral:#D2D6DB;
    --text-button-color:#FFFFFF;
    --text-base-color:#08090A;
    --text-primary-color:var(--primary-color);
    --text-base-color-10:#7D8A97;
    --text-base-color-20:#64707D;
    --text-base-color-30:#4D5760;
    --reaction-heart-color:#DC1818;
    --reaction-unicorn-color:#61DAF6;
    --reaction-saved-color:#3b49df28;
    --layout-header-height:60px;
}


* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


a {
    text-decoration: none;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
input,button, textarea {
    outline: none;
    border: none;
}

html,body {
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--bg-body-color);
}